@model CommunityHub.Core.Models.SetPassword

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card" style="max-width: 600px; width: 100%; padding: 20px;">
        <div class="card-header text-center">
            <h2 class="text-center">Set New Password</h2>
        </div>
        <div class="card-body">
            <form asp-action="SetPassword" method="post">
                <div class="form-group">
                    <label for="NewPassword" class="mt-2 mb-2" style="margin-left: 10px;">New Password</label>
                    <input type="password" class="form-control mb-3" id="NewPassword" asp-for="Password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label for="ConfirmPassword" class="mt-2 mb-2" style="margin-left: 10px;">Confirm Password</label>
                    <input type="password" class="form-control mb-3" id="ConfirmPassword" asp-for="ConfirmPassword" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Token" />
                <input type="hidden" asp-for="Email" />

                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Set Password</button>
                </div>
            </form>
        </div>

        @if (TempData["SuccessMessage"] != null)
        {
            <div id="successMessage" class="alert alert-success mt-3">
                @TempData["SuccessMessage"]
            </div>
        }

        @if (ViewBag.ErrorMessage != null)
        {
            <div id="errorMessage" class="alert alert-danger mt-3">
                @ViewBag.ErrorMessage
            </div>
        }
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
